body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#container {
  display: grid; 
  grid-template-columns: repeat(16, 1fr);
  border: solid black;
}

.square {
  height: 1.25vw;
  width: 1.25vw;
  border:solid gray;
  border-width:0.2px;
}

.color {
  background-color: gold;
}

#button{
background-color: pink;
display: block;
margin: 1vw;
width: 15vw;
height: 5vw;
}

#button-clear {
  margin: 2vw;
}

#modal {
display: none;
position: fixed;
z-index: 1;
left: 30vw;
top: 4vw;
width: 40vw; 
height: 23vh;
background-color: plum;
margin-bottom: 2.5vw;
border: black solid;
border-radius: 9px;
box-shadow: 0vw 2.5vw 100vw 2vw greenyellow;
}

.modal-content {
  display: flex;
  flex: auto;
  background-color: gainsboro;
  margin: 8.5% 0% 0% 8.5%;
  height: 50%;
  width: 80%;
  padding: 5px;
  border: solid black;
  border-radius: 9px;
  justify-content:space-evenly;
}

.form-container {
  display: flex;
  flex: 0 1 auto;
  flex-flow: column wrap;
  justify-content: space-around;
  padding-right: 37%;
}

input, label, #submit {
  display: flex;
  flex: 0 1 auto;
  border-radius: 6.5px; 
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 input {
  width: 6.5vw;
  margin-top: 7.5%;
  padding-left: 3%;
 }
 label, button, #submit {
  font-weight: 700;
 }
 
 #container>.square:hover{
   background-color: gold;
 }

.close {
  padding-top: 0%;
  padding-right: 10px;
  color : rgba(50,50,50);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#submit:hover,
#submit:focus {
  color: darkmagenta;
  background-color: rgb(188, 194, 201);
  text-decoration: none;
  cursor: pointer;
}
#submit:active {
  background-color: #cf5e97;
  box-shadow: 2px 2px 2px 2px rgb(209, 184, 199);
  transform: translateY(0.1px);
}

#submit {
  display: flex;
  flex: 0 1 30%;
  max-height: 50px;
  max-width: 65px;
  align-self: end;
  padding: 0.5%;
  margin-bottom: 0%;
  margin-right: 0.75%;
  border: solid black;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  font-size: 12px;

}

@media only screen and (max-width: 600px) {
  .modal-content p {
    font-size: 10px;
  }
  .modal {
    width: 100%;
    height: 100%;
  }
  .close {
    font-size: 14px;
  }
  input {
    padding: 5% 10%;
    margin: 6% 4% 7% 11%;
  }
  label, input, #submit {
    font-size: 9.5px;
  }
  input {
    max-width: 15%;
    max-height: 4%;
    margin-top: 2%;
  }
  .form-container {
    display: block;
    margin: 0%;
    padding: 0%;
  }
}